# ── Kafka ────────────────────────────────────────────────────
KAFKA_CLUSTER_ID=

# ── MinIO ────────────────────────────────────────────────────
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# ── Grafana ──────────────────────────────────────────────────
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=

# ── Flink ────────────────────────────────────────────────────
# Allowed values: hashmap | rocksdb
FLINK_STATE_BACKEND=hashmap
